body{
  background-color: #2b2d31;
  color: white;
}
/* button styling */
.button {
--border-right: 6px;
--text-stroke-color: rgba(255,255,255,0.6);
--animation-color: #37FF8B;
--fs-size: 3em;
letter-spacing: 3px;
text-decoration: none;
font-size: var(--fs-size);
font-family: "Arial";
position: relative;
text-transform: uppercase;
background: transparent;
border: none;
-webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
position: absolute;
box-sizing: border-box;
content: attr(data-text);
color: var(--animation-color);
width: 0%;
inset: 0;
overflow: hidden;
transition: 0.5s;
-webkit-text-stroke: 1px var(--animation-color);
}
.button:hover .hover-text {
width: 100%;
filter: drop-shadow(0 0 23px var(--animation-color))
}
.hover-text {
display: none;
}

.button:hover .hover-text {
display: inline;
}
.hover-text {
position: absolute;
box-sizing: border-box;
content: attr(data-text);
color: var(--animation-color);
width: 0%;
inset: 0;
overflow: hidden;
transition: 0.5s;
-webkit-text-stroke: 1px var(--animation-color);
}
.button:hover .hover-text {
width: 100%;
filter: drop-shadow(0 0 23px var(--animation-color))
}
.hover-text {
display: none;
}

.button:hover .hover-text {
display: inline;
}
.menuNavigation{
width: 100%;
position: fixed;
margin-bottom: 10px;
height: auto;
border-style: solid;
border-width: 0px;
border-bottom-width: 5px;
/* text-align: center; */
background-color: #2b2d31;
align-items:flex-start;
}
.itemNavigation{  
font-size: 2.5em;
text-decoration: none;
color: inherit;
padding:0px 30px 0px 30px;

}
.titleNavigation{  
font-size: 10em;
text-decoration: none;
color: inherit;
padding:0px 30px 0px 30px;
}
.content{
padding-top: 120px;
font-size: 2em;
}

.img {
border-radius: 25px;
height: 100%;
width: 3%;
display: inline-block;
vertical-align: middle;
padding-bottom: 2%;
}