.itemLayout{
    display: flex;
    height: auto;
    border-color:black;
    border-style: solid;
    padding: 5px 10px 5px 10px;
}
.shopItemLeft{
    flex: 1;
    margin: auto;
}
.shopItemMiddle{
    flex: 3;
    padding-top: 20px;
    padding-bottom: 10px;
}
.shopItemRight{
    flex: 1;
    align-content:center;
    text-align: center;
}
.photoItemShop{
    height: 200px;
    width: auto;

}
.nomItem{
    font-size: 1.5em;
}
.typeItem{
    align-content: bottom;
    font-size: 1.2em;
}

.quantite{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 90px;
    padding-left: 10px;
}
.bouton {
    background-color: #117964;
    color: white;
    border: none;
}
.itemContainer{
    width:80%;
    margin: auto;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

/* Hover effect */
.bouton:hover {
    background-color: #0f5e4e; 
}
a {
  text-decoration: none;
}
.category-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-nav ul {
  display: flex;
  list-style: none;
}

.category-nav ul li {
  margin: 0 1rem;
}

.category-nav ul li a {
  padding: 0.5rem 1rem;
  border: 1px solid #2c3e50;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
}
.category-nav ul li a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
  }