.category-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #888C90;
    margin: auto;

  }
  
  .category-nav ul {
    display: flex;
    list-style: none;
  }
  
  .category-nav ul li {
    margin: 0 1rem;
  }
  
  .category-nav ul li label {
    padding: 0.5rem 0.5rem;
    border: 1px solid #2c3e50;
    color: white;
    border-radius: 5px;
    text-decoration: none; 
    margin-left: 5px;
  }
  .category-nav ul li label:hover {
      color: #07070A;
      transition: color 0.3s ease-in-out;
    }
img{
    width: 60%;
    height: 100px;
}
input{
    width: 120px;

}

.itemContainer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 18px;
    width: 100%;
    
}

.flip-card {
    width: calc(33.33% - 20px); /* Ajustez la largeur de chaque carte en fonction de vos besoins */
    margin-bottom: 20px; /* Ajoutez une marge entre chaque carte */
    background-color: transparent;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #B0BEC5;
    border-radius: 1rem;
}

.flip-card-front {
    background-color: #117964;
    color: white;
}

.flip-card-back {
    background-color: #4D9B8B;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-back input {
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #888C90;
}

.txtNonAlchimiste {
    margin-top: 10px;
    text-align: center;
    color: #c00;
}

.photoItemShop{
    height: 200px;
}
